@import "./color_schemes/light";

$link-color: #55A39B;
$sidebar-color: $white;
$feedback-color: darken($sidebar-color, 2%);
$btn-primary-color: #55A39B;

$body-font-family: "Barlow", system-ui, -apple-system, blinkmacsystemfont, sans-serif;
$mono-font-family: "IBM Plex Mono", monospace;
