@import "./color_schemes/light";

$link-color: #55a39b;
$sidebar-color: $white;
$feedback-color: darken($sidebar-color, 2%);
$btn-primary-color: #55a39b;
$code-background-color: darken($white, 3%);

$nav-width: 17.75rem; // Default: 16.5rem

$body-font-family:
  "Barlow",
  system-ui,
  -apple-system,
  blinkmacsystemfont,
  sans-serif;
$mono-font-family: "IBM Plex Mono", monospace;
