---
layout: default
title: YOUR COMMAND
parent: SQL commands
grand_parent: SQL reference
---

# YOUR COMMAND

Description

## Syntax

```sql
command syntax
```

| Field   | Description        |
|---------|--------------------|
| `field` | Field description. |

## Examples

Example description

```sql
example
```

